Options -Indexes
ErrorDocument 404 /error.php
DirectoryIndex index.php

<IfModule mod_rewrite.c>
  RewriteEngine on
 
  Options +FollowSymLinks
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^(.*)$ index.php?w=$1 [QSA,L]
</IfModule>